{% extends 'flatpages/default.html' %}
<!-- подключение собственного фильтра -->
{% load censor_filters %}
<!-- начало блока title -->
{% block title %}
<!-- в стиле представлен собственный класс цвета -->
<style>
.neonText {
  color: #00FFFF;
  text-shadow:
      0 0 7px #00FFFF,
      0 0 10px #00FFFF,
      0 0 21px #00FFFF,
      0 0 42px #00FFFF,
      0 0 82px #00FFFF,
      0 0 92px #00FFFF,
      0 0 102px #00FFFF,
      0 0 151px #00FFFF;
}
</style>
    <h2 class="neonText animate__animated animate__fadeInDown"><font size="10">Все новости и статьи</font></h2>
{% endblock title %}

<!-- блок основного контента страницы -->
{% block content %}
<!-- центрирование и расстояние внутри таблицы -->
<style>
        table,
        td,
        th {
            text-align: center;
            padding: 10px;
        }
</style>
<!-- если пост существует, то выполняется вывод информации -->
    {% if news %}
       <table border="0" cellspacing="0" cellpadding="10" width="1200" align="center">
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Содержание</td>
           </tr>
         <!-- цикл for для вывода всех постов -->
           {% for post in news %}
           <tr>
               <td><font size="5"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></font></td>
               <td><font size="5">{{ post.created_at|date:"d.m.Y" }}</font></td>
               <td><font size="5">{{ post.text|truncatechars:20 }}</font></td>
           </tr>
           {% endfor %}
       </table>
    {% else %}
        <h4 class="text-light"><font size="4">Новостей нет</font></h4>
    {% endif %}
{% endblock content %}

